<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form (ngSubmit)="formSubmit()">
                <div class="form-group">
                    <label>Title</label>
                    <input name="title" type="text" class="form-control" value={{blogPost.title}} [(ngModel)]="blogPost.title">
                </div>
                <div class="form-group">
                    <label>Featured Image (URL)</label>
                    <input name="image" type="text" class="form-control" value={{blogPost.featuredImage}} [(ngModel)]="blogPost.featuredImage">
                </div>
                <div class="form-group">
                    <label>Post</label>
                    <textarea name="post" class="form-control" style="min-height:200px" value={{blogPost.post}} [(ngModel)]="blogPost.post"></textarea>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <input name="category" type="text" class="form-control" value={{blogPost.category}} [(ngModel)]="blogPost.category">
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <textarea name="tags" class="form-control" value={{tags}} [(ngModel)]="tags"></textarea>
                </div>
                <div class="pull-right">
                    <button class="btn btn-danger btn-sm" (click)="deletePost()">Delete Post</button> &nbsp; 
                    <button type="submit" class="btn btn-success btn-sm">Update Post</button>
                </div>
            </form>
 </div>
 </div>
</div>
<br />
